<footer>
    <div class="foot-info">
        <div class="foot-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="c-name">
            &#64;Wonderlust private limited
        </div>
        <div class="foot-info-links">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/privacy">PrivacyPolicy</a>
    </div>
</footer>