<% layout("/layouts/boilerplate") %>
<body>
   
    <h1>All documents</h1>
    <hr>
    <div class="row  row-cols-lg-4 row-cols-md-3 row-cols-sm-2 ">
          <% for (let d of data){ %>
            <a  href="/lists/<%= d._id%>"  class="listing-link">
                 <div class="card allcard col" >
                    
                    <img src="<%=d.image.url %>" class="card-img-top" style="height: 20rem;">
                    <div class="card-img-overlay">  </div>

                    <div class="card-body">
                        <p><%=d.title%></p>
                        <p class="last"> &#8377 <%= d.price.toLocaleString("en-EN")%>/per day </p>

                    </div>
                 </div>
            </a>
        
        <% }%>
    </div>

   
  
</body>
