body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* .bg-ag{
    background-color: aquamarine !important;
} */
.container{
    flex: 1;
}
.navbar{
    height:5rem;
    background-color: rgb(160, 160, 101);
}
.fa-compass{
    color:rgb(146, 36, 36);
    font-size: 2rem;
}
.nav-link{
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 1rem;

}
footer{
    
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 2rem;
}
.foot-info-links a{
    text-decoration: none;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    
}
.foot-info-links a:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
.fa-brands{
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    margin: 10px 30px;
}

.card{
    border: none !important;
    margin-bottom: 2rem;
}
/* .allcard{
    border: 1px solid black !important;
    border-radius: 1rem !important;
} */
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{

    padding: 0 !important;
}
.card-text p{
    font-weight: 500;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.show-image{
    height: 30vh;
}